@model ExplorerApplication.Models.DirectoryModel

@{
    ViewBag.Title = Model.Name;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Size
        </th>
        <th>
            Date
        </th>
        <th>
            Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Files)
    {
        <tr>
            <td>
                
                @if (item.Type == "directory")
                {
                    @Html.ActionLink(item.Name, "Index", new { path = item.FullName })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Name)
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td></td>
            @*<td>            
                @Html.ActionLink("Change Directory", "Index", new { path = item.FullName })
            </td>*@
        </tr>
    }
</table>    